<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login - SwiftShop</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <input type="email" id="loginEmail" placeholder="Email" />
      <input type="password" id="loginPass" placeholder="Password" />
      <button class="btn btn-primary" id="btnSubmitLogin">Login</button>
      <p>No account? <a href="/register.html">Register</a></p>
      <a href="/index.html">Back to Shop</a>
    </div>
    <script src="/js/index.js"></script>
    <script src="/js/auth.js"></script>
  </body>
</html>
